@import '/src/style/variables.scss';

.ProductNameInfo {
  position: sticky;
  width: 45%;
  height: 55%;
  top: 0;
  background-color: red;
  color: white;
  font-size: 2rem;

  .dk {
    position: sticky;
    top: 10px;
  }
}
