@import '/src/style/variables.scss';
@import '/src/pages/Main/Font.scss';

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0 3rem;
  margin-top: 3rem;

  .mainVisual {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      @include subTitle;
    }

    .tabBar {
      width: 100%;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      padding: 20px;

      .category {
        font-size: 0.75rem;
        margin-right: 0.75rem;
        background-color: $footerBackgroundColor;
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 10px 24px;
        font-weight: 600;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: $superLightGray;
        }

        &.selected {
          border-color: $deepGray;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .showRoomContainer {
      width: 1100px;
    }
  }

  @media (max-width: 1200px) {
    .showRoomContainer {
      width: 900px;
    }
  }

  @media (max-width: 900px) {
    .showRoomContainer {
      width: 600px;
    }
  }

  @media (max-width: 600px) {
    .showRoomContainer {
      width: 400px;
    }
  }

  .showRoomContainer {
    position: relative;
    max-width: 1400px;

    .imageContainer {
      border-radius: 1rem;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }

  .listWireframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 2rem;
      height: 2rem;
      padding: 0;
      border: 2px solid transparent;
      border-radius: 1rem;
      background: rgba(var(--colour-static-black, 17, 17, 17), 0.2);
      line-height: 0.5;
      transform: translateX(-1rem) translateY(-1rem) scale(0.999);
      cursor: pointer;
      z-index: 1;

      &:hover {
        z-index: 2;

        .productDetailToggle {
          opacity: 1;
          pointer-events: auto;
        }
      }

      .productDetailToggle {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: all 1s;

        position: absolute;
        left: 3rem;
        background-color: rgb(var(--colour-neutral-1, 255, 255, 255));
        min-width: 8.4375rem;
        // max-width: 13rem;
        padding: 1rem 1rem 1.2rem 1rem;
        border-radius: 1rem;
        border: 1px solid $lightGray;

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
        }

        .goButton {
          display: flex;
          align-items: center;

          img {
            width: 1rem;
          }
        }

        .isNew {
          font-family: inherit;
          font-size: 0.875rem;
          line-height: 1.571;
          font-weight: 700;
          color: #ca5008;
        }

        .productName,
        .categoryTypeName,
        .price {
          @include bodyText;
          white-space: nowrap;
        }

        .productName {
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.8;
        }

        .price {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }

      .dot {
        transition: transform 250ms ease-in-out;
        display: block;
        background: white;
        box-shadow: 0 1px 4px rgba(var(--colour-static-black, 17, 17, 17), 0.55);
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
      }
    }
  }

  .serviceContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    h2 {
      @include subTitle;
    }

    .services {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      margin-top: 2.5rem;

      li {
        width: calc(309px * (3 / 4));
        height: 300px;
        background-color: #f5f5f5;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        cursor: pointer;

        &:hover {
          background-color: $superLightGray;
        }

        img {
          width: 100px;
          height: 100px;
        }
      }

      span {
        font-size: 0.75rem;
        background-color: white;
        border-radius: 1rem;
        padding: 10px 24px;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
}
