@import '/src/style/variables.scss';

.cart {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 3rem;
  margin-top: 5%;

  .cartAll {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 5%;

    .cartName {
      width: 100%;
      border-bottom: 1px solid lightGray;

      .cartHeadName {
        h1 {
          display: inline-block;
          font-size: 2.25rem;
          color: $black;
          line-height: 1.333;
          letter-spacing: -0.0063em;
          margin-bottom: 10%;
        }

        img {
          width: 2.25rem;
          height: 2.25rem;
          margin-left: 2%;
          transform: translateY(15%);
        }
      }
      .cartQuantity {
        display: flex;
        padding-bottom: 18px;

        p {
          display: inline-block;
        }

        .cartQuantityName {
          font-size: 1rem;
          color: $black;
          font-weight: 600;
        }

        .cartQuantitUnit {
          font-size: 1rem;
          color: $deepGray;
          margin-left: 2%;
        }
      }
    }

    .cartList {
      display: flex;
      flex-direction: column;
    }
  }

  .productPrice {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
