.productInfo {
  display: flex;

  .productDetailAll {
    display: flex;
    width: 70%;
    background-color: black;

    .productImages {
      display: flex;
    }

    .productDetail {
      display: flex;
    }
  }

  .productName {
    display: flex;
    width: 30%;
    background-color: yellow;
  }
}
