* {
  box-sizing: border-box;

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
  }
}

#root {
  min-width: 556px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
