$black: #111111;
$superDeepGray: #484848;
$deepGray: #787878;
$gray: #757575;
$lightGray: #949294;
$superLightGray: #e3e3e3;
$borderGray: #e7e7e7;

$yellow: #fad911;
$blue: #0258aa;
$deeplBlue: #004f93;
$lightBlue: #007cc1;
$pink: #e00a51;
$red: #ca5008;

$footerBackgroundColor: #f5f5f5;
