@import '/src/style/variables.scss';

.productDetailInfo {
  position: sticky;
  width: 100%;
  top: 7%;

  p {
    display: inline-block;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.333;
    letter-spacing: -0.0063em;
    margin-bottom: 1rem;
  }

  .productInfoContent {
    border-bottom: 1px solid rgb(var(--colour-neutral-3, 223, 223, 223));
    margin-bottom: 1rem;

    p {
      font-size: 1rem;
      line-height: 1.333;
      margin-bottom: 1rem;
      color: $superDeepGray;
    }
  }

  .size {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(var(--colour-neutral-3, 223, 223, 223));

    p {
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    button {
      border: 0;
      padding: 0;
      background-color: transparent;

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  .sizeToggle {
    margin-top: 1rem;

    .productLength {
      p {
        display: inline-block;
        font-size: 0.8rem;
        color: $black;
        padding-bottom: 5%;
      }
    }
  }

  .assemblyMethod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(var(--colour-neutral-3, 223, 223, 223));

    p {
      font-size: 0.8rem;
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    button {
      border: 0;
      padding: 0;
      background-color: transparent;

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  .recoProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(var(--colour-neutral-3, 223, 223, 223));

    p {
      font-size: 0.8rem;
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    button {
      border: 0;
      padding: 0;
      background-color: transparent;

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}
