@import '/src/style/variables.scss';
@import './Font.scss';

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 1rem;
  padding: 1rem 3rem;
  background-color: $blue;
  color: white;

  .firstLine {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.5rem;

    .logo {
      display: block;
      width: 90px;
      height: 36px;
    }

    .headerIcons {
      display: flex;
      gap: 1rem;
      margin-left: 2rem;

      li {
        cursor: pointer;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .searchBar {
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      min-width: auto;
      margin-left: 2rem;
      flex-grow: 1;
      border-radius: 50em;
      background-color: white;

      &:hover {
        background-color: $superLightGray;
      }

      img {
        width: 1rem;
        height: 1rem;
      }

      input {
        width: 100%;
        height: 3.125rem;
        padding: 0.8125rem;
        padding-inline-end: 3.6rem;

        outline: none;
        background-color: transparent;
        border-style: none;

        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  .secondLine {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .categories {
      display: flex;
      gap: 1.5rem;
      cursor: pointer;
      @include categoryText;
    }

    .userFavorStore {
      display: flex;
      gap: 0.5rem;
      cursor: pointer;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }

      span {
        font-family: pretendard Apple SD Gothic Neo;
        font-size: 0.875rem;
        line-height: 2;
        font-style: normal;
        font-weight: 500;
      }
    }

    .favoriteStoreModal {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999999;
      width: 25rem;
      height: 100%;
      background-color: #ffffff;
      border-radius: 1rem 0 0 1rem;
      border: 1px solid lightgray;
      color: black;

      .modalTop {
        display: flex;
        flex-direction: row-reverse;

        .closeToggleButton {
          border: 0;
          background-color: transparent;
          padding: 1rem;
        }
      }

      .modalMain {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        padding: 0 3rem 3rem 3rem;

        .nameInfo {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          border-bottom: 1px solid $superLightGray;
          padding-bottom: 1rem;

          .closedTimeInfo {
            font-family: inherit;
            font-weight: 600;
            color: $superDeepGray;
          }
        }

        .timeInfo {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .storeName {
          font-family: inherit;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.45;
          letter-spacing: -0.0042em;
        }
        .goToStorePageButton {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 2.5rem;
          padding: 0 1.5rem;
          background-color: $blue;
          border-radius: 1rem;

          button {
            color: white;
            border: 0;
            background-color: transparent;

            @include buttonText;
            font-size: 0.75rem;
            line-height: 1.3333333333;
          }
        }
      }
    }
  }
}
